.services-container-inline {
  padding: 5rem 0;
}
.service-list-container {
  width: 100%;
  /* padding: 1rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicelist-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 80%;
}
.servicepage-headings {
  text-align: center;
}
.servicepage-headings h4 {
  color: var(--darkred);
  text-transform: uppercase;
}
.servicepage-headings h1 {
  color: var(--darkblue);
  text-transform: capitalize;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .service-list-container {
    gap: 0.5rem;
  }
  .service-list-container {
    padding: 0.5rem 0;
  }
  .servicepage-headings h1 {
    font-size: 2rem;
  }
  .service-list-container {
    width: 100%;
  }
}
